@charset "UTF-8";

.color--orange {
  color: #e17334;
}

.color--grey {
  color: #54585a;
}

.generaltitle {
  font-size: 18px;
  color: #54585a;
  text-transform: uppercase;
}

header {
  width: auto;
  height: 111px;
  padding: 30px 79px 30px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__logo {
  max-width: 201px;
  max-height: 51px;
}

.form__diseña--fontsColors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 80px;
}

.title__colors {
  grid-column: 1;
  grid-row: 1;
}

.form__colors {
  grid-column: 2;
  grid-row: 1;
}

.title__fonts {
  grid-column: 1;
  grid-row: 2;
}

.form__fonts {
  grid-column: 2;
  grid-row: 2;
}

footer {
  width: auto;
  height: 111px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6b6b6b;
}

.footer__logo {
  max-width: 103px;
  max-height: 40px;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f5f5;
}

.home {
  max-width: 270px;
  margin: 95px auto 30px;
  text-align: center;
}

.home__logo {
  background-image: url("/images/descarga.svg");
  background-size: cover;
  height: 70px;
}

.home__title {
  font-family: "Merriweather", serif;
  font-size: 19px;
  color: #e17334;
  padding: 35px 0 5px;
  font-weight: 900;
}

.home__subtitle {
  font-size: 13px;
  color: #114e4e;
  padding-bottom: 14px;
}

.home__links {
  border-radius: 4px;
  border: solid 1.6px #e17334;
  list-style: none;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.home__links--icon {
  color: #e17334;
  width: 32px;
}

.home__links--name {
  display: block;
  font-size: 16px;
  color: #54585a;
}

.container__comparte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container__comparte--icon {
  text-transform: uppercase;
  font-weight: bold;
  color: #54585a;
  display: grid;
  grid-template-columns: 16px 1fr 50px;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.container__comparte--click {
  margin-left: 12px;
}

.container--comparte-created {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #54585a;
}

.container--comparte-link {
  color: #e17334;
}

.fa-share-alt {
  color: #e17334;
}

body {
  font-family: "Open Sans", sans-serif;
}

.section__4--comparte-link {
  font-size: 12;
  color: #e17334;
}

.home__button {
  margin-top: 37px;
  border-radius: 21px;
  background-color: #438792;
  border: solid 1px #979797;
  font-size: 16px;
  font-weight: 600;
  color: #f5f5f5;
  padding: 10px 20px;
}

.container__comparte--button {
  width: 100%;
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container__comparte--buttonstyle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 199px;
  height: 60px;
  border-radius: 12px;
  background-color: #e17334;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  margin-top: 13px 18px 13px 18px;
}

.container__comparte--button-twitter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  background-color: #00a0f5;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  font-size: 14px;
  color: white;
}

.visor__button-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px #f5f5f5;
  color: #54585a;
  font-size: 12px;
  line-height: 1.67px;
  text-transform: uppercase;
  background: none;
}

.form__rellena--button {
  width: 140px;
  height: 30px;
  border-radius: 3px;
  background-color: #e17334;
  color: white;
}

body {
  background-color: white;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
}

.form__rellena fieldset {
  border: 0px;
}

.form__rellena label {
  color: #114e4e;
 /* esta variable no deberia llamarse asi porque no es solo para el index*/
  font-size: 14px;
}

.form__rellena input {
  width: 100%;
  margin: 0px auto;
  border: solid 1px #a2deaf;
  height: 30px;
}

.titulo__rellena * {
  display: inline;
  padding: 10px;
}

.form__rellena--plus {
  margin-top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 12px;
  border: solid 2px;
  display: inline;
  padding: 6px 9px;
}

.form__rellena--reload {
  width: 30px;
  height: 30px;
  border: solid 1px #a2deaf;
  display: inline-block;
}

.form__rellena--step {
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form__rellena--file input {
  border: 0px;
  width: 85%;
}

.colors__palets {
  border: solid 1px #a2deaf;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.container__visor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfcdd0), to(#dde9ed));
  background-image: linear-gradient(#bfcdd0, #dde9ed);
  width: 100%;
  border: 1px solid green;
}

.visor__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 240px;
  margin: auto;
  padding: 60px 35px 30px 45px;
  border: 1px solid blue;
}

.visor__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  width: 240px;
  height: 367px;
  border: 1px solid black;
}

.visor__view-name {
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  padding: 20px 20px 14px 0;
  color: #114e4e;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

.visor__image-foto {
  width: 240px;
  height: 200px;
  padding-top: 10px;
}

.visor__view-profession {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  color: #54585a;
  font-family: "Open Sans", sans-serif;
}

.visor__view-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.visor__view-a-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #114e4e;
  list-style: none;
  margin: 0;
  width: 100%;
}

.border-top {
  width: 240px;
  border: 2px #438792;
}

.visor__list-text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-item-align: start;
  align-self: flex-start;
  list-style: none;
  margin: 0;
  width: 100%;
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  border-radius: 4px;
}

@media all and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  .container__visor {
    grid-column-start: 2;
    grid-row: 1;
    background-color: pink;
  }

  .container__form {
    grid-column-start: 1;
    grid-row: 1;
  }

  .home {
    max-width: 420px;
    margin: 348px auto 60px;
  }

  .home__logo {
    height: 107px;
  }

  .home__title {
    font-size: 24px;
    padding: 31px 0 5px;
  }

  .home__subtitle {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .home__links {
    border-radius: 5px;
    border: 2px;
  }

  .home__button {
    margin-top: 185px;
  }
}

/*# sourceMappingURL=main.css.map */
