
// ----VERO ----//

 .container__comparte {
  display: flex;
  flex-direction: column;
}

.container__comparte--icon {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-titles;
  display: grid;
  grid-template-columns: 16px 1fr 50px;
  grid-template-rows: 1fr;
  align-items: center;
  margin-top: 10px;
}

.container__comparte--click {
  margin-left: 12px;
}
.container--comparte-created {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-titles;
}
.container--comparte-link {
  color: $color-icon-title-button;
}
.fa-share-alt{
  color: $color-icon-title-button;
}
