// ----VERO ----//

.container {
  padding: 23px 40px;
}

.container__comparte {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.container__comparte--icon {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-titles;
  display: grid;
  grid-template-columns: 16px 1fr 50px;
  grid-template-rows: 1fr;
  align-items: center;
}

.container__comparte--click {
  margin-left: 12px;
  font-size: 18px;
}
.container--comparte-created {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-titles;
}
.container--comparte-link {
  color: $color-icon-title-button;
  font-size: 12px;
}
.fa-share-alt{
  color: $color-icon-title-button;
}
