.container__visor {
  display: flex;
  flex-direction: column;
  background-image: $color-card-background;
  width: 100%;
  border: 1px solid green;
}

.visor__name-subname {
  background-color: $color-background;
}

.visor__container1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  width: 240px;
  margin: auto;
  border: 1px solid blue;
}
.visor__view {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 240px;
  border: 1px solid black;
}

.visor__view-name {
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  padding: 20px 20px 14px 0;
  color: $indexfont-color;
  text-transform: capitalize;
  font-family: $comic-sans;
}

.visor__image-foto {
  width: 240px;
  height: 200px;

  }


.visor__view-profession {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  color: $color-titles;
  font-family: $comic-sans;
  padding-bottom: 10px;
}

.visor__view-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  margin-left: 10px;
}

.visor__view-a-list {
  display: flex;
  color: $indexfont-color;
  list-style: none;
  width: 100%;
  text-decoration: none;
  background-color: $color-card-background;

  }

  .link {
  text-decoration: none;
}


.rrss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid $colorline;
  border-radius: 50%;
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  color: $indexfont-color;
}


.border-top {
  height: 2px;
 background-color: $color-general-buttons;
}


.visor__view-list-txt {
  display: flex;
  align-items: center;
  height: 38px;
  
}



.visor__skills {
  display: flex;
  align-items: center;
}

.list {
  background-color: $color-card-background;
}


.visor__view-a {
  background-color: $color-card-background;
}

.visor__list-text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 18px;
  padding: 0 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: $title-font;
  font-size: 13px;
  background-color: $color-general-buttons;
  border-radius: 4px;
  text-transform: uppercase;
  color: $color-background;

    span {
      margin: 0;
      padding: 0;

    }
}
